body {
  width: 700px;
  margin: 0 auto;
  padding: 100px 0;

  font-family: serif;

  background-color: #eee;
}

/* BEGIN (write your solution here) */
#h {
  color: #646464;
  text-align: center;
}

h1 {
  color: #646464;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  color: #333;
  font-size: 16px;
  text-align: justify;
}
